body{
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.all{
    display: flex;
    border: 2px solid red;
}
.left{
    border: 3px solid violet;
    width: 40%;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.orar{
    text-align: center;
    color: grey;
    width: 430px;
    height: 55px;
    background-color: white;
    left: 130px;
    position: relative;
    margin-top: 6px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom:5px ;
}
.butoane{
    left: 130px;
    position: relative;
    width: 430px;
    height: 40px;
}
.buton-gpa{
    width: 104px;
    height: 40px;
    margin-right: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #25975A;
    color: white
}
.buton-gpa3{
    width: 104px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #25975A;
    color: white
}
.buton-gpa:hover{
    background-color: white;
    color: black;
}
.buton-gpa3:hover{
    background-color: white;
    color: black;
}
.right{
    right: 0;
    border: 3px solid black;
    width: 60%;
    display: flex;
    flex-direction: column;

}
.reg-p-stu{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    margin-left: 135px;
    direction: flex;
    margin-top: 35px;
}
.green-rectangle{
    width: 60px;
    height: 34px;
    background-color: #25975A;
    margin-top: 25px;
}
.regim{
    display: flex;
    flex-direction: row;
}
.white-square{
    width: 27px;
    height: 27px;
    background-color: white;
    margin-left: 30px;
    margin-top: 3px;
}
.input img{
    width: 30px;
    height: 30px;
}
input{
    width: 456px;
    height: 30px;
    border: none;
}
.input {
    display: flex;
    align-items: center;
    width: 430px;
    background-color: #fff; 
    margin-left: 135px;
    overflow: hidden;
}
.input .input-icon {
    width: 30px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
}
.input .input-iconx{
    width: 30px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
}
.block{
    width: 430px;
    height: 100px;
    background-color: white;
    margin-left: 135px;
    margin-top:20px;
}
.IT11Z{
    padding-left: 15px;
    background-color: #25975A;
    color: white;
    cursor: pointer;
}
.IT11Z:hover{
    background-color: #e6daa5;
    color: #25975A;
}
.select-container {
    width: 430px;
    margin-left: 135px;
    margin-top: 30px;
}
.day-selector {
    padding: 10px;
    font-size: 16px;
    background-color: white; 
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
}
.day-luni:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-marti:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-miercuri:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-joi:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-vineri:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-sambata:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}

.day-duminica:hover {
    background-color: #3f5be7;
    color: #ffffff; 
}
#selected-day {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    background-color: #fff; 
    font-size: 16px;
    text-align: center;
    justify-items: stretch;
    height: 25px;
    color: white;
}
.cell-1{
    width: 110px;
    height: 25px;
    background-color: #25975A;
    color: #25975A;
}
.cell-2{
    background-color: #25975A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    height: 25px;
}
.cell-3{
    background-color: #25975A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
}
.cell-PP{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color: rgb(128, 128, 192);
}
.cell-SM{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(118, 189, 73);
}
.cell-BL{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(0, 128, 0);
}
.cell-EN{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(64, 32, 0);
}
.cell-PL{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(163, 241, 188);
}
.cell-MP{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(255, 128, 0);
}
.cell-EGL{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(211, 211, 211);
}
.cell-AG{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:rgb(255, 0, 128);
}
.cell-EF{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    text-align: center;
    background-color:black;
}
.tabel {
    display: grid;
    grid-template-columns:2.3fr repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr); 
    background-color: #ccc;
    width: 435px;
    margin-left: 135px;
    margin-top: 20px;
}
.sub-tabel{
    color: white;
    width: 435px;
    margin-left: 135px;
}
.sub-tabel